<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMotoService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:64946/MotoService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMotoService" contract="IMotoService"
                name="BasicHttpBinding_IMotoService" />
        </client>
    </system.serviceModel>
</configuration>